@model IEnumerable<Ratings.Web.Models.Index.GroupModel>

@{
    ViewBag.Title = "GroupedList";
}

<h2>GroupedList</h2>

<table class="table">

@foreach (var group in Model)
{
    <tr class="row">
        <th colspan="2" class="col-md-12">
            @Html.DisplayFor(modelItem => group.Name)
        </th>
    </tr>
    @*<tr>
        <th style="border-top:none">
            @Html.DisplayNameFor(model => model.Indices)
        </th>
        <th style="border-top:none">
            @Html.DisplayNameFor(model => model.Value)
        </th>
    </tr>*@
    @Html.EditorFor(modelItem => group.Indices)
}

</table>
