@model IEnumerable<Ratings.Web.Models.Index.IndexModel>

@{
    ViewBag.Title = "Заповнення показників";
}

<h2>Заповнення показників</h2>


@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th style="border-top:none">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="border-top:none">
            @Html.DisplayNameFor(model => model.Value)
        </th>
    </tr>
    
@Html.EditorForModel()



</table>
<input type="submit" class="btn btn-default" name="knopka" value="Зберегти" />
}