@model IEnumerable<Ratings.Web.Models.Index.IndexModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
    </tr>
    
@Html.EditorForModel()



</table>
<input type="submit" name="knopka" value="Save" />
}