@model IEnumerable<Ratings.Web.Models.Rating.RatingModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Показники", "Indices", new {ratingId = item.Id})
        </td>
        <td>
            @Html.ActionLink("Завантажити Excel", "ToExcel", new {ratingId = item.Id}, new {@class = "btn btn-primary"}) 
        </td>
    </tr>
}

</table>
