@model Ratings.Web.Models.Rating.RatingModel

@{
    ViewBag.Title = "Indices";
}

<h2>@Model.Name</h2>

<br/>
@Html.ActionLink("Завантажити Excel", "ToExcel", new { ratingId = Model.Id }, new { @class = "btn btn-primary" })
<br/>
<br/>
<br/>
@using (Html.BeginForm("Save", "Rating"))
{
    <table class="table">

     @Html.EditorFor(model => model.Indices)


    </table>
    <input type="submit" class="btn btn-default" name="knopka" value="Зберегти" />
}
<p>
    @Html.ActionLink("Назад до списку", "Index")
</p>
